[Unit]
Description=Spring Boot WebApp Service
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/myapp
ExecStart=/usr/bin/java -jar /opt/myapp/app.jar
Restart=on-failure
StandardOutput=append:/var/log/myapp/application.log
StandardError=append:/var/log/myapp/application.log

[Install]
WantedBy=multi-user.target